[Unit]
Description=Signavio Workflow Accelerator Connector
Documentation=https://github.com/signavio/workflow-connector
After=network.target
AssertPathExists=/%h/.config/workflow-connector

[Service]
Type=simple
LimitNOFILE=4096
ExecStart=/usr/local/bin/wfc --config-dir /%h/.config/workflow-connector
Restart=on-failure
StartLimitInterval=600

[Install]
WantedBy=multi-user.target
