[Unit]
Description=Signavio Workflow Accelerator Connector
Documentation=https://github.com/signavio/workflow-connector
After=network.target

[Service]
Type=simple
Environment="WFC_PORT=443"
LimitNOFILE=4096
ExecStart=/%h/bin/wfc --config-dir /%h/.config/workflow-connector
Restart=on-failure
StartLimitInterval=600

[Install]
WantedBy=multi-user.target
