[Unit]
Description=Signavio Workflow Accelerator Connector
Documentation=https://github.com/signavio/workflow-connector
After=network.target
AssertPathExists=/home/%i/.config/workflow-connector

[Service]
Type=simple
User=%i
LimitNOFILE=4096
ExecStart=/usr/local/bin/wfc --config-dir /home/%i/.config/workflow-connector
Restart=on-failure
StartLimitInterval=600

[Install]
WantedBy=multi-user.target
